.DS_Store
.cache

..module-common.o.cmd
.Module.symvers.cmd
.module-common.o
.modules.order.cmd
.razernagatrinity.ko.cmd
.razernagatrinity.mod.cmd
.razernagatrinity.mod.o.cmd
.razernagatrinity.o.cmd
Module.symvers
modules.order
razernagatrinity.ko
razernagatrinity.mod
razernagatrinity.mod.c
razernagatrinity.mod.o
razernagatrinity.o

compile_commands.json
